/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding-inline: 16px;
  padding-block: 8px;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
